@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('variables.css');

*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    width: 100%;
    height: 100vh;
    background: var(--colorThird);
}

/*--------------------- Menú de navegación---------------------------- */
header{
    width: 100%;
    height: 10vh;
    background: var(--colorSeventh);
    display: flex;
    justify-content: center;
}

.navBar{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContent h2{
    color: var(--colorPrimary);
    font-family: 'Poppins';
    font-weight: 400;
}

.navButtons{
    width: 30%;
    display: flex;
    justify-content: space-between;    
    
}

.navButtons a{
    color: var(--colorSecondary);
    text-decoration: none;
    padding: .2em;
    position: relative;
    transition: 0.3s linear;
    
}

.navButtons a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--colorPrimary);
    height: 3.5px;
    transition: 0.3s linear;
}
.navButtons a:hover::before,
.navButtons a:hover{
    width: 100%;
    color: var(--colorPrimary);

}

/* Contener principal de la pagina */
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*---------------- Section 1----------------*/
.sectionContent{
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContent .contentContainer{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
}

.rowsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;    
    width: 100%;
    height: 50%;
}

.sectionContent .imgContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
    max-width: 100%;
    max-height: 100%;

    width: auto;
    height: auto;
}

.contentContainer .rowsContent{
    width: 70%;
}

.rowsContent h1{
    color: var(--colorPrimary);
    font-size: 4rem;
    font-family: 'sans-serif';
    font-weight: 400;
}

.rowsContent h4{
    color: var(--colorSecondary);
    line-height: 1.5rem;
    font-family: 'Poppins';
    font-weight: 600;
}

/*-------------------Section 2----------------*/
.rowsContent h6{
    color: var(--colorPrimary);
}
.rowsContent h2{
    color: var(--colorSecondary);
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2rem;
}
.rowsContent p{
    color: var(--colorSecondary);
}

.sectionContent:nth-child(2) .rowsContent:nth-child(2){
    display: flex;
    height: 12vh;
    overflow: hidden;
}

/*-------------- Diseño del botón------------ */
.buttonLink{
    background: var(--colorPrimary);
    border: none;
    padding: .5vh;
    color: var(--colorSecondary);
}

/* ------------------Section 3--------------- */
.sectionContent:nth-child(3) .contentContainer,
.sectionContent:nth-child(4) .contentContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionContent:nth-child(3) .rowsContent:nth-child(1),
.sectionContent:nth-child(4) .rowsContent:nth-child(1){
    width: 100%;
    height: 10%;
    text-align: center;
}
.sectionContent:nth-child(3) .rowsContent:nth-child(2),
.sectionContent:nth-child(4) .rowsContent:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.targetContainer{
    background: var(--colorFifth);
    width: 30%;
    border: none;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2vh;
}

.targetContent, .serviceContent{
    width: 100%;
    height: 10%;
    text-align: center;
}

.targetImg, .serviceImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.targetImg img, .serviceImg img{
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.targetContent span{
    color: var(--colorFourth);
    font-size: .8rem;
}
.targetContent p{
    color: var(--colorPrimary);
}

.targetIcon{
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
}
.bx{
    color: var(--colorThird);
    font-size: 2rem;
}

/* ------------Section 4----------- */

.colContent{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serviceContent h4{
    color: var(--colorPrimary);
}
.serviceContent p{
    color: var(--colorSecondary);
    font-size: .8rem;
}

/* --------------Section 5----------- */
.container{
    background-color: var(--colorFifth);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: var(--colorFourth) 2px groove;
    outline: 1px solid var(--colorFifth);
}

.titleContainer{
    width: 100%;
    text-align: center;
}
.titleContainer h2{
    color: var(--colorFourth);
    font-size: 2.5rem;
    font-family: 'sans-serif';
    font-weight: 500;
    line-height: .8rem;
    letter-spacing: .3rem;
}


footer{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorSeventh);
}

.footerElements{
    color: var(--colorSecondary);
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.menuFooter .titleMenu{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.menuFooter .titleMenu::after{
    content: "";
    width: 5vw;
    background-color: var(--colorPrimary);
    height: 3.5px;
}

.menuFooter .titleMenu h3{
    font-family: 'sans-serif';
    font-weight: 400;
}

.listMenu{
    margin-top: 1vw;
}

.listMenu li{
    list-style: none;
}


footer .bx{
    color: var(--colorPrimary);
}









