@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('variables.css');

*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 10vh;
}
body{
    width: 100%;
    background: var(--colorThird);
    overflow: scroll;
}

/*--------------------- Menú de navegación---------------------------- */
header{
    width: 100%;
    height: 10vh;
    background: var(--colorSeventh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 9;
}

.navBar{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContent h2{
    color: var(--colorPrimary);
    font-family: 'Poppins';
    font-weight: 400;
}

.navButtons{
    width: 30%;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap; 
    
}

.navButtons a{
    color: var(--colorSecondary);
    text-decoration: none;
    padding: .2em;
    position: relative;
    transition: 0.3s linear;
    
}

.navButtons a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--colorPrimary);
    height: 3.5px;
    transition: 0.3s linear;
}
.navButtons a:hover::before,
.navButtons a:hover{
    width: 100%;
    color: var(--colorPrimary);

}

.checkbtn, #check{
    display: none;
}

/* Contener principal de la pagina */
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*---------------- Section 1----------------*/
.sectionContent{
    width: 80%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContent .contentContainer{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
}

.rowsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;    
    width: 100%;
    height: 50%;
}

.sectionContent .imgContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
    max-width: 90%;
    max-height: 90%;

    width: auto;
    height: auto;
}

.contentContainer .rowsContent{
    width: 70%;
}

.rowsContent h1{
    color: var(--colorPrimary);
    font-size: 4rem;
    font-family: 'sans-serif';
    font-weight: 400;
}

.rowsContent h4{
    color: var(--colorSecondary);
    line-height: 1.5rem;
    font-family: 'Poppins';
    font-weight: 600;
}

/*-------------------Section 2----------------*/
.rowsContent h6{
    color: var(--colorPrimary);
}
.rowsContent h2{
    color: var(--colorSecondary);
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2rem;
}
.rowsContent p{
    color: var(--colorSecondary);
    
}

/* .sectionContent:nth-child(2) .rowsContent:nth-child(2){
    display: flex;
    height: 12vh;
    
} */

/*-------------- Diseño del botón------------ */
.buttonLink{
    background: var(--colorPrimary);
    border: none;
    padding: .5vh;
    color: var(--colorSecondary);
}

/* ------------------Section 3--------------- */
.sectionContent:nth-child(3) .contentContainer,
.sectionContent:nth-child(4) .contentContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sectionContent:nth-child(3) .rowsContent:nth-child(1),
.sectionContent:nth-child(4) .rowsContent:nth-child(1){
    width: 100%;
    height: 10vh;
    text-align: center;
}
.sectionContent:nth-child(3) .rowsContent:nth-child(2),
.sectionContent:nth-child(4) .rowsContent:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.targetContainer{
    background: var(--colorFifth);
    width: 30%;
    border: none;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2vh;
    /* animation: aparecer linear both;
    animation-timeline: view();
    animation-range: 0 500px; */
}

.targetContainer:hover{
    animation: rotar 1s linear .3s  both;
}

.targetContent, .serviceContent{
    width: 100%;
    height: 50%;
    text-align: center;
}

.targetImg, .serviceImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.targetImg img, .serviceImg img{
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.targetContent span{
    color: var(--colorFourth);
    font-size: .8rem;
}
.targetContent p{
    color: var(--colorPrimary);
}

.targetIcon{
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
}
.bx{
    color: var(--colorThird);
    font-size: 2rem;
}

/* ------------Section 4----------- */

.colContent{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serviceContent h4{
    color: var(--colorPrimary);
}
.serviceContent p{
    color: var(--colorSecondary);
    font-size: .8rem;
}

/* --------------Section 5----------- */
.container{
    background-color: var(--colorFifth);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: var(--colorFourth) 2px groove;
    outline: 1px solid var(--colorFifth);
}

.titleContainer{
    width: 100%;
    text-align: center;
}
.titleContainer h2{
    color: var(--colorFourth);
    font-size: 2.5rem;
    font-family: 'sans-serif';
    font-weight: 500;
    letter-spacing: .3rem;
}
/* ------------Footer----------------- */

footer{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorSeventh);
}

.footerElements{
    color: var(--colorSecondary);
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.menuFooter .titleMenu{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.menuFooter .titleMenu::after{
    content: "";
    width: 50px;
    background-color: var(--colorPrimary);
    height: 3.5px;
}

.menuFooter .titleMenu h3{
    font-family: 'sans-serif';
    font-weight: 400;
}

.listMenu{
    margin-top: 1vw;
}

.listMenu li{
    list-style: none;
}


footer .bx{
    color: var(--colorPrimary);
}

footer ul li a{
    text-decoration: none;
    color: var(--colorSecondary);
}

/* --------Probando animaciones------------- */


#headerFijo{
    position: fixed;
    top: 0;
    width: 0%;
    /* background: rgba(226, 106, 8, 0.637); */
    background: var(--colorPrimary);
    height: 1vh;
    z-index: 8;
    animation: progreso auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progreso{
    from{width: 0%;}
    to{ 
        width: 100%;
        backdrop-filter: blur(5px);
    }
}

@keyframes aparecerMenu{
    from{
        opacity: 0;
    }

    to{
        opacity: .95;
        
    }
}
@keyframes aparecer{
    from{
        opacity: 0;
        translate: 0 100px;
    }

    to{
        opacity: 1;
        translate: 0 0;
        
    }
}
@keyframes rotar{
    from{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

/* -----------Responsive-------------- */

@media (max-width: 992px){
    
    main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .sectionContent{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
       
    }
    .sectionContent .contentContainer{
        height: 40dvh;
    }
    
    .sectionContent .imgContainer{
        height: 40dvh;
    }
    .sectionContent .contentContainer .rowsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30dvh;
    }

    .sectionContent .contentContainer .rowsContent{
        width: 100%;  
    }
    .sectionContent:nth-child(2) .contentContainer .rowsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35dvh;
    }
    .sectionContent:nth-child(2){
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .sectionContent:nth-child(3), .sectionContent:nth-child(4){
        height: auto;
    }
    .sectionContent:nth-child(3) .contentContainer .rowsContent,
    .sectionContent:nth-child(4) .contentContainer .rowsContent{
        padding: 5dvh 0 10dvh 0;
    }
    .sectionContent:nth-child(3) .rowsContent:nth-child(2){
        flex-direction: column;
    }
    .sectionContent:nth-child(4) .rowsContent:nth-child(2){
        flex-direction: column-reverse;
    }
   
    .targetContainer, .colContent{
        width: 80%;
        margin-bottom: 2vh;
    }

    .sectionContent:nth-child(5){
        display: flex;
        height: 60dvh;
    }
    .sectionContent:nth-child(5) .container{
        height: 30dvh;
    }
    .titleContainer h2{
        font-size: 1.5rem;
        letter-spacing: .1rem;
    }

    footer{
        height: 90dvh;
    }
    .footerElements{
        flex-direction: column;
        justify-content: space-around;
        gap: 3vh;
    }
    .footerElements .menuFooter:nth-child(4){
        align-self: center;
    }
    .footerElements .menuFooter:nth-child(4) .titleMenu{
        text-align: center;
        letter-spacing: .2rem;
    }

    .footerElements .menuFooter .titleMenu{
        font-size: 1.1rem;
    }

    header{
        display: flex;
        justify-content: space-around;
    } 
    header .navBar .navContent{
        padding-left: 2vh;
    }

    .rowsContent h1{
        font-size: 3rem;
    }
    .rowsContent h2{
        font-size: 1.5rem;
    }

    /* ------------Menu Desplegable----------- */
   header .navBar{
    position: relative;
   }
   header .checkbtn{
    display: block;
   }

    header .checkbtn i{
        font-size: 2rem;
        margin-right: 2vh;
        color: var(--colorSecondary);
    }

    .navButtons{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: var(--colorSixth);
        width: 0;
        font-size: 0;
        height: 60vh;
        top: 10vh;
        justify-content: space-around;
        font-size: 1.8rem;
        font-size: 0;
        align-items: center;
        opacity: 0;  
        transition: all .5s linear;
    }

    #check:checked ~ .navButtons{
        opacity: .95;
        width: 100%;
        font-size: 1.8rem;
        
    }
}






    






