:root{
    --colorPrimary: #ff702a;
    --colorSecondary: #fff;
    --colorThird: #1e1d2b;
    --colorFourth: #000;
    --colorFifth: #ffefe8;
    --colorSixth: #2c2b47;
    --colorSeventh: #0000005e;
}